<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Create a new post</h1>
    <form method="post" action="/posts">
            <p>
                <span class="label">Username:</span>
                <input type="text" placeholder="enter username" name="username">
            </p>
            <p>
                <span class="label">Content:</span>
                <textarea placeholder="enter content" name="content" rows="5" cols="45"></textarea>
            </p>
        <button>Submit</button>
    </form>
</body>
</html>